p
{
font-size:20px;
}

.northamerica
{
position:absolute;
margin-top:0px;
}
.southamerica
{
position:absolute;
margin-top:280px;
margin-left:240px;
}
.Europe
{
position:absolute;
margin-top:0px;
margin-left:460px;
}
.Asia
{
position:absolute;
margin-top:0px;
margin-left:690px;
}
.Africa
{
position:absolute;
margin-top:230px;
margin-left:490px;
}
.Australia
{
position:absolute;
margin-top:500px;
margin-left:1090px;
}
.antartica
{
position:absolute;
margin-top:600px;
margin-left:300px;
}
